@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

body {
    background-image: url("Images/background.jpg");
    font-family: 'Playfair Display', sans-serif;
    color: rgb(75, 69, 69);
   }

   h1{
    text-align: center;
    margin:0;
    color: rgb(75, 69, 69);
   }
   h2{
    text-align: center;
    margin:0;
    color: rgb(75, 69, 69);
   }

   .circleText{
    margin: auto;
    text-align: center;
   }

   .circleBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 3rem;
   }

   .circle{
    width:20rem;
    height:20rem;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    justify-content: center;
   }
.mainContent{
    background-color: rgba(255, 255, 255, 0.568);
    width: 90%;
    height: 100%;
    margin: auto;
    border-radius: 20px;
    padding: 1%;
   }

   .boxContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

   }
   .box{
   width:15rem;
   }

   hr.solid {
    border-top: 3px solid #000000;
  }

