@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');


html{
        width: 100%;
        height: 100%;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    
}
body{
    background-color: rgb(233, 195, 165);
    font-family: 'Fjalla One', sans-serif;
        width: 100%;
        height: 100%;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
}

h1{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 3em;
}

h2{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 1.1em;
}

header{
    background-color: white;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 50%;
}

.titleHolder{
    padding: 1rem;
    text-align: center;
}
h3{
    color: rgb(214, 139, 88);
}

.infoCard{
    z-index: 10;
    position: absolute;
    display: block;
    background-color: rgb(250, 226, 195);
    width: 80%;
    height: 80%;
    margin: auto;
    top: 30%;
    right: 5%;
    bottom: 25%;
    left: 5%;
    box-shadow: 0 8px 8px -4px rgb(124, 124, 124);
}

img.profileImg{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    box-shadow: 0 8px 8px -4px rgb(46, 46, 46);
}

.cardInfo{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1rem;
    row-gap: 0.8rem;
    column-gap: 0.8rem;
}

.hideItems{
    display: none !important;
}

.nameTitle2{
    text-align: center;
    margin: 0 0 0 0;
}

button.cardButton{
    background-color: rgb(214, 139, 88);
    color: white;
    border-style: none;
    padding: 1rem;
    font-size: 1em;
    font-weight: bolder;
    width: 9rem;
    height: 3rem;
    text-align: center; 
}
button.cardButton:hover{
cursor: pointer;
background-color: white;
color:  rgb(214, 139, 88);
}

.projectsCard{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 1rem;
    padding: 0.8rem;
    row-gap: 1rem;
    column-gap: 1rem;
    padding-bottom: 4rem;

}

.experienceHolder{
    padding-bottom: 4rem;
}

.projectHolder{
    background-color: white;
    box-shadow: 0 8px 8px -4px rgb(46, 46, 46);
    width: 100%;
    margin: 1rem;
    padding: 0.5rem;
}

h4.subHeading{
    text-align: center;
    font-size:1.5em;
}

footer{
    display: block;
    width:100%;
    margin: 0 0 0 0;
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    text-align: center;
    z-index:1000;
}

h5{
    text-align: center;
    font-size:1.5em;
    margin: 0 0 0 0;
}

h6{
    font-size: 1.4em;
    margin: 0 0 0 0;
}

ul.languagesList{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    column-gap: 1rem;
    row-gap: 1rem;
}

ul.languagesList li{
    list-style-type: none;
    background-color: rgb(214, 139, 88);
    color: white;
    padding: 1rem;
}

.aboutHolder{
   
padding-bottom: 4rem;
}

.experienceCard{
    background-color: white;
    box-shadow: 0 8px 8px -4px rgb(46, 46, 46);
    margin: 1rem;
    padding: 1rem;
}

.aboutCard{
    background-color: white;
    box-shadow: 0 8px 8px -4px rgb(46, 46, 46);
    margin: 1rem;
    padding: 1rem;
}

@media only screen and (max-width: 828px) {
    .cardInfo{
        flex-direction: column;
    }
    
}

@media only screen and (max-width: 375px){
    .infoCard{
        top: 45%;

    }
}



@media only screen and (max-width: 550px){
    .infoCard{
        top: 38%;

    }

}
@media only screen and (max-width: 280px){
    .infoCard{
        top: 60%;

    }

    
}

@media only screen and (max-width: 303px){
    .infoCard{
        top: 45%;

    }
}

@media only screen and(max-height: 785px){
    .infoCard{
        top: 45%;

    }
}

@media only screen and(max-height: 588px){
    .infoCard{
        top: 30%;

    }
}